body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f9;
}

/* Header */
header{
    background:#111;
    color:white;
    padding:20px;
    text-align:center;
}

/* Navigation */
nav{
    background:#333;
    padding:10px;
    text-align:center;
}

nav button{
    background:#555;
    color:white;
    border:none;
    padding:10px 15px;
    margin:5px;
    cursor:pointer;
    border-radius:5px;
}

nav button:hover{
    background:#ff4d4d;
}

/* News container */
#news-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

/* News cards */
.news-card{
    background:white;
    width:300px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    padding:15px;
}

.news-card img{
    width:100%;
    border-radius:5px;
}

.news-card h3{
    margin-top:10px;
}

.news-card a{
    display:inline-block;
    margin-top:10px;
    color:#f5552d;
    text-decoration:none;
}

.search-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin:25px 0;
}

#search-input{
    width:350px;
    padding:12px 15px;
    border-radius:25px;
    border:1px solid #ccc;
    outline:none;
    font-size:16px;
    transition:0.3s;
}

#search-input:focus{
    border-color:#ce372c;
    box-shadow:0 0 5px rgb(100, 20, 20), 0.61);
}

.search-container button{
    padding:10px 20px;
    border:none;
    border-radius:25px;
    background:#f7876c;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

.search-container button:hover{
    background:#f7876c;
}